

.App {
  top: 0;
  bottom:0;
  width: 100%;
  background-color: rgba(206, 226, 198, 0.7);
  height:56px;
}

.App nav{
  display:flex;
  align-items: center;
  height:100%;
  padding: 0.5rem;
  flex-flow: row;

}
.App ul{
   list-style:none;
   margin:0;
   padding: 0;
   display:flex;
}
.App li{
   padding: 0 1rem;
}
.App .Line{
  width: 38px;
  height:7px;
  background-color: white;
  
}
.App .ThreeLines{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:40px;
  height:40px;
  border: none;
  border:none;
  background:transparent;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}
.App .ThreeLines:focus{
  outline: none;
}
.App .Spacer{
  flex:1;
}
.App .Link{
  text-decoration: none;
  font-size: 30px;
  margin: 40px auto;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #121212;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 
    0px -4px 10px rgba(255,255,255,0.3);
}

.App .Link:hover,
.App .Link:active{
  color: rgb(218, 157, 28);
  background-color: rgb(98, 235, 19, 0,7);
}


@media (max-width:700px){
 .App .Link{
   display:none
 }
 .App .nav{
     display: block;
     justify-content: left;
 }
 .App .ThreeLines{
   float:left;
   margin-right:200px;
 }
}

@media (min-width:700px){
  .App .ThreeLines{
     display:none;
  }
 }